@model ManageMyProjects.Models.ExternalCost

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExternalCost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalCostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalCostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalCostTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalCostTyp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalCostAmountPlanned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalCostAmountPlanned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalCostAmountReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalCostAmountReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhaseActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhaseActivity.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
