@model ManageMyProjects.Models.ExternalCost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExternalCost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalCostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalCostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalCostTyp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalCostTyp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalCostAmountPlanned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalCostAmountPlanned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExternalCostAmountReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExternalCostAmountReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhaseActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhaseActivity.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
