@model IEnumerable<ManageMyProjects.Models.ExternalCost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Amount Planned
            </th>
            <th>
                Amount Real
            </th>
            <th>
                Cost Typ
            </th>
            <th>
                Activity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalCostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalCostAmountPlanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalCostAmountReal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost.CostTyp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseActivity.PhaseActivityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
