@model IEnumerable<ManageMyProjects.Models.PhasesActivity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Activity Name
            </th>
            <th>
                Progress
            </th>
            <th>
                Budget
            </th>
            <th>
                Real Costs
            </th>
            <th>
                Expense
            </th>
            <th>
               Start Date Planned
            </th>
            <th>
                End Date Planned
            </th>
            <th>
                Start Date Realized
            </th>
            <th>
                End Date Realized
            </th>
            <th>
                Activity Responsible
            </th>
            <th>
                Phase
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseActivityProgress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealCosts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseActivityStartDatePlanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseActivityEndDatePlanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseActivityStartDateRealized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseActivityEndDateRealized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeFirstName)
                @Html.DisplayFor(modelItem => item.Employee.EmployeeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phase.PhaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
