@model IEnumerable<ManageMyProjects.Models.Phase>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Phase Name
            </th>
            <th>
                Review Date
            </th>
            <th>
                Start Date Planned
            </th>
            <th>
                End Date Planned
            </th>
            <th>
                Start Date Realized
            </th>
            <th>
                End Date Realized
            </th>
            <th>
                Progress
            </th>
            <th>
                Project
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseStartDatePlanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseEndDatePlanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseStartDateRealized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseEndDateRealized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaseProgress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

            </td>
        </tr>
}
    </tbody>
</table>
