@model IEnumerable<ManageMyProjects.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Project Title
            </th>
            <th>
                Project Description
            </th>
            <th>
                Approval Date
            </th>
            <th>
                Start Date Planned
            </th>
            <th>
                End Date Planned
            </th>
            <th>
                Start Date Realized
            </th>
            <th>
                End Date Realized
            </th>
            <th>
                Progress
            </th>
            <th>
                Project Manager
            </th>
            <th>
                Priority
            </th>
            <th>
                Procedure Model
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectApprovalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStartDatePlanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectEndDatePlanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStartDateRealized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectEndDateRealized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectProgress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeFirstName)
                @Html.DisplayFor(modelItem => item.Employee.EmployeeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority.PriorityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcedureModel.ProcedureModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
